# Copy this file to .env.test and update the values for your local test database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/hyper_scale_ops_test
APP_PORT=8000
DEBUG_MODE=false
